# Development and build-related files
node_modules/
.eslintignore
.eslintrc
.prettierignore
.prettierrc
babel.config.js
webpack.config.js

# Editor-specific files and directories
.vscode/

# Documentation and configuration files not needed for users
README.md
.editorconfig
